<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Smart Table</h1>
</div>
<div class="wrapper-md" ng-controller="TableCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Updating in {{updated}} seconds</div>
    <table st-table="pairs" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Pair</th>
          <th>Price</th>
          <th>News</th>
          <th>RACETRACK</th>
          <th>HEATMAP-30</th>
          <th>H3</th>
          <th>H2</th>
          <th>M30</th>
          <th>M5</th>
          <th>R/B</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in pairs|orderBy:'heatmap'" ng-click="updateCharts($index)">

          <td>{{row.name}}</td>
          <td>{{row.candlesM1[49].c}}</td>
          <td><div ng-repeat="item in row.news">
            <!-- <div ng-if="item.timestamp>=currentTime" class="block"> -->
            <div class="block">
              <a class="label" ng-class="{ 'label-default': item.impact==1, 'label-default': item.impact==2, 'label-warning': item.impact==3,'label-danger': item.impact==4,'label-danger': item.impact==5 }">{{item.impact}}</a>
            <a>{{item.timestamp*1000|date:'hh:mm a'}}</a>&nbsp;<a>{{item.title}}</a></div>
          </div></td>
          <td>
            {{racetrack[$index]}}
            <!-- {{row.butter.daily}} - {{row.butter.htf}} - {{row.butter.itf}} - {{row.butter.stf}} -->
          </td>

          <td >{{row.heatmap|number:1}}</td>
          <td ng-class="{'butter':row.butter.daily}">
            <div class="block"><a ng-if="row.trendH3=='SIDEWAYS BIAS UP'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i></a>
            <a ng-if="row.trendH3=='SIDEWAYS BIAS DOWN'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i></a>
            <a ng-if="row.trendH3=='SIDEWAYS BIAS UP CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i><i class="fa fa-check"></i></a>
            <a ng-if="row.trendH3=='SIDEWAYS BIAS DOWN CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i><i class="fa fa-check"></i></a>
            <a ng-if="row.trendH3=='UPTREND N.S'"><i class="fa fa-arrow-up"></i></a>
            <a ng-if="row.trendH3=='DOWNTREND N.S'"><i class="fa fa-arrow-down"></i></a>
            <a ng-if="row.trendH3=='UPTREND SETUP'"><i class="fa fa-arrow-up"></i><i class="fa fa-square-o"></i></a>
            <a ng-if="row.trendH3=='DOWNTREND SETUP'"><i class="fa fa-arrow-down"></i><i class="fa fa-square-o"></i></a>
            <a ng-if="row.trendH3=='UPTREND ANCHOR BREAK'"><i class="fa fa-arrow-up"></i><i class="fa fa-times"></i></a>
            <a ng-if="row.trendH3=='DOWNTREND ANCHOR BREAK'"><i class="fa fa-arrow-down"></i><i class="fa fa-times"></i></a><br></div>
            <!-- <a>{{row.actionH3.size}}</a><br> -->
            <!-- <a>{{row.anchorH3.size}}</a><br> -->
            <!-- <a>{{row.aux1H3.size}}</a><br> -->
          </td>
          <td ng-class="{'butter':row.butter.htf}">
              <a ng-if="row.trendH2=='SIDEWAYS BIAS UP'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendH2=='SIDEWAYS BIAS DOWN'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendH2=='SIDEWAYS BIAS UP CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendH2=='SIDEWAYS BIAS DOWN CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendH2=='UPTREND N.S'"><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendH2=='DOWNTREND N.S'"><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendH2=='UPTREND SETUP'"><i class="fa fa-arrow-up"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendH2=='DOWNTREND SETUP'"><i class="fa fa-arrow-down"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendH2=='UPTREND ANCHOR BREAK'"><i class="fa fa-arrow-up"></i><i class="fa fa-times"></i></a>
            <a ng-if="row.trendH2=='DOWNTREND ANCHOR BREAK'"><i class="fa fa-arrow-down"></i><i class="fa fa-times"></i></a>
            <!-- <a>{{row.actionH2.size}}</a><br> -->
            <!-- <a>{{row.anchorH2.size}}</a><br> -->
            <!-- <a>{{row.aux1H2.size}}</a><br> -->
          </td>
          <td ng-class="{'butter':row.butter.itf}">
              <a ng-if="row.trendM30=='SIDEWAYS BIAS UP'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendM30=='SIDEWAYS BIAS DOWN'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendM30=='SIDEWAYS BIAS UP CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendM30=='SIDEWAYS BIAS DOWN CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendM30=='UPTREND N.S'"><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendM30=='DOWNTREND N.S'"><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendM30=='UPTREND SETUP'"><i class="fa fa-arrow-up"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendM30=='DOWNTREND SETUP'"><i class="fa fa-arrow-down"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendM30=='UPTREND ANCHOR BREAK'"><i class="fa fa-arrow-up"></i><i class="fa fa-times"></i></a>
            <a ng-if="row.trendM30=='DOWNTREND ANCHOR BREAK'"><i class="fa fa-arrow-down"></i><i class="fa fa-times"></i></a>
            <!-- <a>{{row.actionM30.size}}</a><br> -->
            <!-- <a>{{row.anchorM30.size}}</a><br> -->
          </td>
          <td ng-class="{'butter':row.butter.stf}">
              <a ng-if="row.trendM5=='SIDEWAYS BIAS UP'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendM5=='SIDEWAYS BIAS DOWN'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendM5=='SIDEWAYS BIAS UP CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-up"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendM5=='SIDEWAYS BIAS DOWN CONFIRMED'"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-down"></i><i class="fa fa-check"></i></a>
              <a ng-if="row.trendM5=='UPTREND N.S'"><i class="fa fa-arrow-up"></i></a>
              <a ng-if="row.trendM5=='DOWNTREND N.S'"><i class="fa fa-arrow-down"></i></a>
              <a ng-if="row.trendM5=='UPTREND SETUP'"><i class="fa fa-arrow-up"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendM5=='DOWNTREND SETUP'"><i class="fa fa-arrow-down"></i><i class="fa fa-square-o"></i></a>
              <a ng-if="row.trendM5=='UPTREND ANCHOR BREAK'"><i class="fa fa-arrow-up"></i>X</a>
              <a ng-if="row.trendM5=='DOWNTREND ANCHOR BREAK'"><i class="fa fa-arrow-down"></i>X</a>
          </td>
          <td>{{row.color}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="panel panel-default" ng-repeat="row in data"> -->
  <div class="panel panel-default">
      <div class="panel-heading">The Chart</div>
      <div class="panel-body col-xs-4">
    <nvd3 options="options" data="dataH3" ></nvd3>
      </div>
      
      <div class="panel-body col-xs-4">
    <nvd3 options="options" data="dataH2" ></nvd3>
  </div>

      <div class="panel-body col-xs-4">
    <nvd3 options="options" data="dataM30" ></nvd3>
  </div>
  </div>

 
  
</div>

